<ol class="breadcrumb purchase_orders">
  <li><%= link_to "発注書一覧", purchase_orders_path %></li>
</ol>

<%= link_to "発注書を作成する", new_purchase_order_path %>

<hr>

<%= div_for @orders do |order| %>
  <%= link_to purchase_order_path(order) do %>
    <%= order.created_at.strftime "%Y/%m/%d %H:%M" %>
    <%= order.items_size %>
  <% end %>
  <% order.items.each do |item| %>
    <%= item.product.name %>
    x
    <%= item.quantity %>
  <% end %>
<% end %>
