<ol class="breadcrumb">
  <li><%= link_to "納品書一覧", stock_orders_path %></li>
</ol>

<%= link_to "納品書を作成する", new_stock_order_path %>

<hr>

<%= div_for @orders do |order| %>
  <%= link_to stock_order_path(order) do %>
    <%= order.created_at.strftime "%Y/%m/%d %H:%M" %>
    <%= order.items_size %>
  <% end %>
  <% order.items.each do |item| %>
    <%= item.product.name %>
    x
    <%= item.quantity %>
  <% end %>
<% end %>
