<ol class="breadcrumb">
  <li><%= link_to "製品一覧", products_path %></li>
</ol>

<table>
  <thead>
    <th></th>
    <% @products.each do |product| %>
      <th><%= product.name %></th>
    <% end %>
    <th></th>
  </thead>
  <tbody>
    <th></th>
    <% @products.each do |product| %>
      <th><%= product.quantity %></th>
    <% end %>
    <th></th>
  </tbody>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <% case order %>
          <% when PurchaseOrder %>
            出荷
          <% when StockOrder %>
            入荷
          <% end %>
        </td>
        <% @products.each do |product| %>
          <td>
            <% case item = order.items.find{ |item| item.product == product } %>
            <% when PurchaseOrderItem %>
              - <%= item.quantity %>
            <% when StockOrderItem %>
              + <%= item.quantity %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= order.created_at.strftime "%Y/%m/%d %H:%M" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
